:root {
    --background: #f1fffa;
    --nav: #ccfccb;
    --light-button: #96e6b3;
    --user-circle: #568259;
    --dark-button: #464e47;
}
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:link {
    color: #000;
}
a:visited {
    color: #000;
}
a:hover {
    color: #000;
}
a:active {
    color: #000;
}

body {
    margin: 0;
    background-color: var(--background);
}
/* header */

header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--nav);
    font-size: 28px;
    /* position: fixed; */
}
header img {
    margin: 0 30px;
    height: 60px;
    width: 60px;
}
header input { 
    height: 40px;
    border-radius: 50px;
    font-size: 20px;
    outline: none;
    background-image: url("../photos/magnifier.png");
    background-position: 20px 5px;
    background-repeat: no-repeat; 
    background-size: 26px;
    padding-left:60px;
    margin: auto 0;
    width: 2400px;
}
header span {
    display: block;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nav-button {
    text-align: center;
    padding: 0 20px;
    margin: auto 0;
    list-style: none;
    display: flex;
}
.nav-button li {
    margin: 0 30px;
}
.nav-button span {
    transition: all ease 0.3s;
}
.nav-button span:hover{
    color: #2a8648;
}
.sub-menu {
    display: none;
    z-index: 1;
}
.button-text:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: var(--nav);
    border: 1px solid black;
    border-radius: 8px;
    width: 200px;
    margin-left: -20px;
    -webkit-box-shadow: 11px 11px 11px -9px rgba(0,0,0,0.8); 
    box-shadow: 11px 11px 11px -9px rgba(0,0,0,0.8);
    padding: 10px 0;
    font-size: 26px;
}
.button-text:hover .sub-menu ul {
    display: block;
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
}
.button-text:hover .sub-menu ul li {
    margin: 10px 10px 10px -20px;
    text-align: left;
    width: 100%;
    display: block;
}
.button-text:hover .sub-menu ul li a {
    display: block;
    transition: all ease 0.3s;
}
.sub-menu ul li a:hover {
    color: #2a8648;
}
.sign-buttons {
    display: flex;
    margin: auto 0;  
}
.sign-buttons button {
    height: 40px;
    border-radius: 13px;
    width: 200px;
    font-size: 26px;
    margin: 0 10px;
    border: 1px solid black;
    outline: none;
}
.log-in {
    background-color: var(--light-button); 
}
.log-in span {
    transition: all ease 0.3s;
}
.log-in span:hover {
    color: white;
}
.sign-in {
    background-color: var(--dark-button);
}
.sign-in span {
    color: white;
    transition: all ease 0.3s;
}
.sign-in span:hover {
    color: #000;
}
.user-icon {
    background-color: var(--user-circle);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: auto 30px;   
    cursor: pointer;
}
.user-icon span {
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 6px;
}
.user-sub-menu {
    display: none;
    z-index: 1;
}
.user-icon:hover .user-sub-menu {
    display: block;
    position: absolute;
    background-color: var(--nav);
    border: 1px solid black;
    border-radius: 8px;
    width: 350px;
    margin-left: -310px;
    -webkit-box-shadow: 11px 11px 11px -9px rgba(0,0,0,0.8); 
    box-shadow: 11px 11px 11px -9px rgba(0,0,0,0.8);
}
.user-icon:hover .user-sub-menu ul {
    display: block;
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
    padding: 0; 
}
.user-icon:hover .user-sub-menu ul li {
    padding: 10px;
    text-align: left;
    width: 100%;
    display: block;
}
.user-icon:hover .user-sub-menu .username {
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
}
.user-icon:hover .user-sub-menu ul li a {
    display: block;
    transition: all ease 0.3s;
}
.user-sub-menu ul li a:hover {
    color: #2a8648;
}

/* popup */
.login-popup {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 150px;
}
.login-content {
    background-color: var(--background);
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 40px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.login-content form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.login-content input, .login-content button {
    border-radius: 20px;
    font-size: 20px;
    height: 50px;
    outline: none;
    padding-left: 30px;
    border: 1px solid black;
    margin: 10px 0;
}
.login-content form button {
    padding: 0;
    background-color: var(--light-button);
    cursor: pointer;
    font-size: 24px;
}
.login-content button:hover {
    opacity: 0.7;
}
.login-content .close {
    color: #e40000;
    position: relative;
    text-align: right;
    padding-right: 20px;
    font-size: 38px;
    font-weight: bold;
    cursor: pointer;
}
.login-content p {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.login-content p:last-child {
    color: var(--light-button);
}
/* sections */
section {
    max-width: 1400px;
    margin: 0 auto;
}
section h1 {
    font-size: 36px;
    text-align: center;
}

/* home page */
.home-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.recomended-courses {
    margin: 60px 0;
}
.home-page img {
    width: 1000px;
    margin: 30px auto;
}
.home-courses-grid {
    display: flex;
    flex-wrap: wrap;
}
.home-courses-grid a{
    flex: 1;
}
.home-courses-grid img {
    transition: 0.2s filter;
}
.home-courses-grid .course-card {
    text-align: left;
}
.home-courses-grid .course-card img:hover {
    filter: brightness(80%);
  }
.home-courses-grid .course-card h3 {
    margin: 2px;
}
.home-courses-grid .course-card h5 {
    margin: 2px;
    color: grey;
}
.home-courses-grid .course-card p {
    margin: 2px;
}
.home-courses-grid .course-card img {
    width: 300px;
    border: 1px solid black;
}
/* Register form */

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 0 40px 0;
}
.register-form form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}
.register-form input, .register-form button {
    border-radius: 20px;
    font-size: 20px;
    height: 50px;
    outline: none;
    padding-left: 30px;
    border: 1px solid black;
    margin: 15px 0;
}
.register-form button {
    background-color: var(--light-button);
    font-size: 24px;
}
.register-form p{
    font-size: 20px;
    margin: 10px 0;
}
.register-form p:last-child {
    color: var(--light-button);
    cursor: pointer;
}

/* user panel */

.user-panel-container {
    display: flex;
    flex-direction: row;
    margin: 40px 20px;
}
.user-nav-panel {
    border-right: 1px solid black;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.user-panel-icon {
    text-align: center;
    border-bottom: 1px solid black;
}
.user-panel-icon p {
    font-size: 36px;
    margin: 15px 0;
}
.user-avatar {
    height: 200px;
    width: 200px;
    background-color: var(--user-circle);
    border-radius: 50%;
    color: white;
}
.user-avatar span {
    display: block;
    text-align: center;
    font-size: 100px;
    padding: 25% 0 ;
}
.user-panel-options ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}
.user-panel-options ul li div {
    font-size: 20px;
    padding:  10px 0;
}
.user-panel-options ul li div p {
    margin: 0 0 0 10px;
}
.user-panel-options .active {
    background-color: var(--user-circle);
    color: white;
}
.panel-option:hover {
    background-color: var(--user-circle);
    color: white;
}
.user-main-panel {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.user-main-panel p {
    font-size: 18px;
}
.user-main-panel form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-main-panel input, .user-main-panel button {
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
    outline: none;
    padding-left: 30px;
    border: 1px solid black;
    margin: 10px auto;
    cursor: pointer;
}
.user-main-panel input {
    width: 50%;
}
.user-main-panel button {
    padding: 0;
    background-color: #EC5252;
    color: white;
    width: 20%;
}
.user-main-panel button:hover {
    background-color: #b8110c;
}
.del-account em{
    color: #cc2337;
}

/* your courses */

.your-courses-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.your-courses-header {
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.your-courses-header ul {
    display: flex;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0;
}
.your-courses-header ul a {
    flex: 1;
}
.your-courses-header ul li div {
    font-size: 22px;
    margin: 0;
    padding: 5px 0;
}
.your-courses-header ul li:hover {
    background-color: var(--light-button);
}
.your-courses-header ul .active {
    background-color: var(--light-button);
}
.bought-courses {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    flex-wrap: wrap;
}
.published-courses {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    flex-wrap: wrap;
}

.your-courses-list .course-card {
    width: 300px;
    border: 1px solid grey;
    background-color: white;
    -webkit-box-shadow: 9px 11px 7px -4px grey; 
    box-shadow: 9px 11px 7px -4px grey;
    margin: 20px;
    transition: color .2s;
}
.your-courses-list .course-card img {
    transition: filter 0.2s;
}
.your-courses-list .course-card img {
    width: 100%;
}
.your-courses-list .course-card:hover {
    color: var(--user-circle);
}
.your-courses-list .course-card img:hover {
    filter: brightness(80%);
}
.course-card .course-info {
    margin: 10px;
}
.your-courses-list .add-course {
    text-align: center;
}
.your-courses-list .add-course button{
    border-radius: 20px;
    font-size: 20px;
    height: 50px;
    outline: none;
    border: 1px solid black;
    margin: 10px 0;
    background-color: #5bc0de;
    cursor: pointer;
    transition: background-color .2s;
}
.your-courses-list .add-course button:hover {
    background-color: #0275d8;
}

/* your course */
.your-course-container {
    display: flex;
    flex-direction: column;
}
.video-container {
    width: 100%;
}
.video-js{
    width: 100%;
    height: 800px;
    z-index: 0;
}
.video-container {
    margin-bottom: 40px;
}
.your-course-section {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}
.your-course-section .section-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}
.section-nav ul {
    display: flex;
    padding: 0;
    margin: 20px auto;
    list-style: none;
    font-size: 22px;
}
.section-nav ul li div {
    padding: 10px;
}
.section-nav ul a:hover {
    background-color: var(--light-button);
}
.section-nav .active {
    background-color: var(--light-button);

}
/* footer */

footer {
    max-width: 1400px;
    border-top: 1px solid rgb(148, 148, 148);
    margin: 0 auto;
    display: flex;
    
}
.footer-container {
    display: flex;
    padding: 30px 0;
    width: 100%;
    flex-direction: column;
}
.footer-links {
    display: flex;
    width: 100%;
}
.footer-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer-container ul li {
    margin: 10px 0;
    transition: all ease 0.3s;
}
.footer-container ul li:hover {
    color: grey;
}
.copyright {
    width: 100%;
    color: grey;
    text-align: right;
}